<!-- Launch file for the sprint 3 demo: allows to teleop the robot with keys -->
<launch>
	<node name="key_publisher" pkg="teleop" type="key_publisher.py" output="screen"/>
	<node name="keys_to_twist" pkg="teleop" type="keys_to_twist_morse.py" output="screen">
		<remap from="cmd_vel" to="boat/actuator"/>
	</node>
</launch>
