<!-- Launch file for the sprint 3 demo: allows to teleop the robot with keys -->
<launch>
	<node name="key_publisher" pkg="teleop" type="key_publisher.py" output="screen"/>

	<node name="keys_to_twist" pkg="teleop" type="keys_to_twist.py" output="screen"/>

	<node name="motors" pkg="actuators" type="motor_controller.py" output="screen">
		<param name="max_speed" value="6300"/>
		<param name="min_speed" value="5700"/>
		<param name="max_rot" value="7500"/>
		<param name="min_rot" value="4800"/>
	</node>

	<!-- comment one of the param to use default -->
	<node name="ramp" pkg="actuators" type="cmd_to_ramp.py" output="screen">
		<param name="linear_twist" value="6000"/> 	<!-- 6000 -->
		<param name="angular_twist" value="6000"/> 	<!-- 6000 -->
		<param name="angular_accel" value="5000"/>  	<!-- 750 -->
		<param name="angular_scale" value="0.5"/>  	<!-- 0.1 -->
		<param name="linear_accel" value="5000"/> 	<!-- 750 -->
		<param name="linear_scale" value="0.5"/> 	<!-- 0.1 -->
		<!-- <remap from="cmd_vel_ramped" to="boat/actuator"/> -->
	</node>
</launch>
