<!-- Demo plot GPS pour vrai données -->
<launch>
  <node pkg="rviz_satellite" type="map2world_tf_broadcaster.py"
        name="broadcaster_fixed" />

  <node pkg="rviz" type="rviz" name="RViz"/>
  <node pkg="rqt_gui" type="rqt_gui" name="RQT"/>
  <node pkg="sensors" type="LL_to_local.py" name="LatLong_to_local"/>

  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="GPS_reader"/>
</launch>