<!-- Demo plot GPS pour donner simulee -->
<launch>
  <node pkg="rviz_satellite" type="map2world_tf_broadcaster.py"
        name="broadcaster_fixed" />

  <node pkg="rviz" type="rviz" name="RViz"/>
  <node pkg="rqt_gui" type="rqt_gui" name="RQT"/>
  <node pkg="utilities" type="LL_to_local.py" name="LatLong_to_local"/>
</launch>